.anime-list-img{
    width: 250px;
    height: 350px;
    border-radius: 100%;
    border: 3px solid #696363;
    margin: 0px 40px
}

.anime-list-img:hover, .anime-list-img:focus, .anime-list-img:active{
    border: 3px solid#646cff;
}

.anime-list-h2{
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.anime-list-a{
    color: #fff;
    text-decoration: none;
}

.anime-list-a:hover, .anime-list-a:focus, .anime-list-a:active{
    color: #646cff;
}

.anime-list-btn{
    padding: 9px;
    margin-left: 10px;
}

.anime-list-btn-img{
    width: 20px;
    height: 20px;
}

.pop-up{
    position: relative;
}

.pop-up-content{
    position: absolute;
    background-color: #696363;
}